.sb1 {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border-color: lightgray;
    outline: 0;
    text-indent: 20px;
    font-size: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a {
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.links {
    display: flex;
    justify-content: end;
    margin: 30px 80px 0 0;
}

#lg1 {
    display: block;
    height: 110px;
    margin: 170px auto 20px auto;
}

.btn1 {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #3c4043;
    width: 180px;
    height: 40px;
    margin: 12px;
    border: none;
    border-radius: 2px;
}
.btn1:hover,
.sb1:hover {
    box-shadow: 1px 1px 2px 2px lightgrey;
}

#lg2 {
    display: block;
    height: 140px;
    margin: 160px auto 0 auto;
}
#lg3 {
    height: 25px;
    position: absolute;
    top: 20px;
    left: 16px;
}

#as {
    margin: 45px auto 25px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #DD4B3A;
}

table{
    margin:20px auto auto 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width:80%;
}
tr{
    height: 50px;
}
.c1{
    font-size: small;
}
.c2{
    font-size: 12px;
    color: #555555;
}
.sb2{
    width: 650px;
    height: 20px;
    text-indent: 10px;
    align-items: flex-end;
}
#btn2{
    background-color: #4888EF;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 30px;
    width: 140px;
    border: none;
}